!!!
html
  head
    title=title

    script(language='javascript', type='text/javascript').
      config = !{config};
      services = !{services};

    each styleSheet in css
      link(href=styleSheet/css, rel="stylesheet", type="text/css")

    each styleSheet in less
      link(rel="stylesheet/less", type="text/css", href=styleSheet)

    each script in javascripts
      script(src=script)
      
  body
    if(bodyAdd)
      script=bodyJavascript
    
