!!!
html
  head
    title=title

    script(language='javascript', type='text/javascript').
      config = !{config};

    each styleSheet in styleSheets
      link(rel="stylesheet/less", type="text/css", href=styleSheet)

    each script in libs
      script(src=script)
    
    script(src='core.js')

    each bundle in bundles
      script(src=bundle)
      
  body
    if(bodyAdd)
      script=bodyAdd
    
