!!!
html
  head
    title=title

    script(language='javascript', type='text/javascript').
      config = !{config};
      services = !{services};

    each cssStyle in css
      link(href=cssStyle, rel="stylesheet", type="text/css")

    each lessStyle in less
      link(href=lessStyle, rel="stylesheet/less", type="text/css")

    each script in javascripts
      script(src=script)
      
  body
    if(bodyAdd)
      script=bodyAdd
    
