!!!
| <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
| <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
| <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
| <!--[if gt IE 8]><!-->
html.js.flexbox.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.no-csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths
  | <!--<![endif]-->
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible')
    meta(name='description',content='Уеб каталог на варненските фирми')
    meta(name='viewport',content='width=device-width')
    link(rel='shortcut icon',href='/favicon.ico')
    title=title
    | <!--[if IE]>
    | <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"><cript>
    | <![endif]-->
    
    each cssStyle in css
      link(href=cssStyle, rel="stylesheet", type="text/css", media='screen')

    each lessStyle in less
      link(href=lessStyle, rel="stylesheet/less", type="text/css", media='screen')

    script(language='javascript', type='text/javascript').
      config = !{stringifiedConfig};

    each script in javascripts
      script(src=script)
  
  -if(!views.layout)
    body
      | <!--[if lt IE 7]>
      | <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      | <![endif]-->
  - else
    body.
      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
      !{views.layout(locals)}
      <script language='javascript', type='text/javascript'>
        window._renderedData = !{renderedData}
      </script>
    
