!!!
html
  head
    title=title
    | <!--[if IE]>
    | <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"><cript>
    | <![endif]-->

    script(language='javascript', type='text/javascript').
      config = !{config};

    each cssStyle in css
      link(href=cssStyle, rel="stylesheet", type="text/css", media='screen')

    each lessStyle in less
      link(href=lessStyle, rel="stylesheet/less", type="text/css", media='screen')

    each script in javascripts
      script(src=script)
      
  body
    if(bodyAdd)
      script=bodyAdd
    
